* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #25274d;
  padding: 10px;
}

.list-container {
  width: 100%;
  max-width: 500px;
  background-color: white;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
}

.list-container h2 {
  display: flex;
  font-size: 34px;
  align-items: center;
  margin-bottom: 10px;

  justify-content: center;
}

.list-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: lightgrey;

  border-radius: 20px;
  margin: 15px;
}

.list-name input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  flex: 1;
  padding: 10px;
}

.list-name button {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 14px;
  background-color: #25274d;
  color: white;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  border-radius: 20px;
  margin-bottom: 10px;
}

.input-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

.input-container button {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #25274d;
  color: white;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px 5px 10px 25px;
  cursor: pointer;
}

.completed {
  color: #555;
  text-decoration: line-through;
}
