* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #25274d;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.title {
  font-size: 40px;
  color: white;
}

.main-container {
  display: flex;
  margin: auto;
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  justify-self: center;
  background-color: #aaabb8;
  border-radius: 8px;
  border-width: 1px;
}

.name-list {
  height: 2rem;
  width: 100%;
  text-align: center;
  color: #464864;
  font-size: 20px;
  background-color: #aaabb8;
  border-width: 1px;
  border-radius: 5px;
}
